<div class="nav-bar__container">
    <nav class="nav-bar">
        <div class="nav-bar__brand">
            <a href="{{ path ('home') }}">
                <img class="nav-bar__logo" src="https://cdn.auth0.com/blog/hub/code-samples/hello-world/auth0-logo.svg"
                    alt="Auth0 shield logo" width="122" height="36" />
            </a>
        </div>
        <div class="nav-bar__tabs">
            <a href="{{ path('profile') }}"
                class="nav-bar__tab"
            >
                Profile
            </a>
            <a href="{{ path('public_message') }}"
                class="nav-bar__tab"
            >
                Public
            </a>
            {% if (app.user != null) %}
                <a href="{{ path('protected_message') }}"
                    class="nav-bar__tab"
                >
                    Protected
                </a>
                <a href="{{ path('admin_message') }}"
                    class="nav-bar__tab"
                >
                    Admin
                </a>
            {% endif %}
        </div>
        <div class="nav-bar__buttons">
            {{ include('components/authentication-button.html.twig' )}}
        </div>
    </nav>
</div>
